<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link rel="stylesheet" href="main.css"-->
    <!--script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script-->
    <title>Portfolio</title>
</head>
<body>
    
    <section id="about">
        <app-encabezado></app-encabezado>
    </section>

    <section id="edu">
        <app-educacion></app-educacion>
    </section>
    
    <section id="projects">
        <app-proyectos></app-proyectos>
    </section>

    <section id="contact">
        <app-contactos></app-contactos>
    </section>

</body>
</html>